<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/card.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <hr />
        <h2><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
        <hr />

        {% include nav.html nav=site.nav %}

        <p class="view">
          <a href="{{ site.github.owner_url }}" target="_blank">
            <img title="My GitHub" src="{{ "/assets/img/github_logo.png" | relative_url }}" width="28px" height="28px"/>
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/ming-chong-lim/" target="_blank">
            <img title="My LinkedIn" src="{{ "/assets/img/linkedin_logo.png" | relative_url }}" height="28px"/>
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="mailto:limmingchong98@gmail.com" target="_blank">
            <img title="My Email" src="{{ "/assets/img/gmail_logo.png" | relative_url }}" width="28px" height="28px"/>
          </a>
          &nbsp;&nbsp;&nbsp;
          <a href="{{ "/assets/Ming Chong Lim_Resume.pdf" | relative_url }}" target="_blank">
            <img title="My Resume" src="{{ "/assets/img/resume_logo.png" | relative_url }}" width="28px" height="28px"/>
          </a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>This site is always a work-in-progress, just like my life</a></small></p>
        <small>© 2024 Ming Chong Lim</small>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
